body {
  font: "Lato", sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.super-title {
  font-size: 60px;
}

[class*="fontelico-"]:before {
  font: "fontelico", sans-serif;
}

[class*="zocial-"]:before {
  font: "zocial", sans-serif;
}

.logo {
  font-size: 80px;
  margin-left: 20px;
  color: #02b3e4;
}

.statement {
  font: 'Sedgwick Ave Display', cursive;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

.project {
  font-weight: bold;
  font-size: 160px;
  color: #ffffff;
  background: #7d97ad;
}

/* TODO: use the linear-gradient() to replace the errors https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
/* by rainbowcoding.com: https://rainbowcoding.com/2011/12/02/how-to-create-rainbow-text-in-html-css-javascript/*/
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 400px) {
  .statement {
    font-size: 50px;
  }
}

@media screen and (min-width: 800px) {
  .statement {
    font-size: 200px;
  }
}
