body {
  font-family: Lato, sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.super-title {
  font-size: 60px;
}

[class*="fontelico-"]:before {
  font-family: fontelico, sans-serif;
}

[class*="zocial-"]:before {
  font-family: zocial, sans-serif;
}

.logo {
  font-size: 80px;
  margin-left: 20px;
  color: #02b3e4;
}

.statement {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

.project {
  font-weight: bold;
  font-size: 160px;
  color: #fff;
  background: #7d97ad;
}

.rainbow_new {
  background-image: linear-gradient(90deg, red, orange, yellow, lime, aqua, blue, purple);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 400px) {
  .statement {
    font-size: 50px;
  }
}

@media screen and (min-width: 800px) {
  .statement {
    font-size: 200px;
  }
}
